In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [16]:
file = Path('vine_table.csv')
vine_df = pd.read_csv(file)
vine_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y
5,R3GNM3SU9VHJFT,4.0,1.0,1.0,N,Y
6,R2Y81OP0EK467,5.0,0.0,0.0,N,Y
7,R2LFGSI6HAYH5F,5.0,1.0,1.0,N,Y
8,R297G6ED1IQO7W,5.0,1.0,1.0,N,Y
9,RE27RFC6101N6,5.0,0.0,0.0,N,Y
10,R3BPDME6E94W8Z,5.0,0.0,0.0,N,Y
11,R2P08O1RILUOX3,3.0,0.0,0.0,N,Y
12,R37CVAB03PTDVI,5.0,0.0,1.0,N,Y
13,RAWNWOGXPCPMD,5.0,0.0,0.0,N,Y
14,R5DYGP6ASX77M,5.0,0.0,0.0,N,Y
15,R1O0SAOOGF2KG7,4.0,0.0,0.0,N,Y
16,R35NJUT0U3MU3V,5.0,0.0,0.0,N,Y
17,R242C08MF9D1AH,5.0,0.0,0.0,N,Y
18,R3RYG8TJTO4E2,5.0,0.0,0.0,N,Y
19,R3IKH1DNY0CP9F,2.0,0.0,0.0,N,Y

In [3]:
most_reviews_df = vine_df.query('total_votes >= 20')
most_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [4]:
helpful_votes_df = most_reviews_df.query('helpful_votes / total_votes >= 0.5')
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [17]:
paid_vine_df = helpful_votes_df.query('vine == "Y"')
paid_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N
...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N

In [6]:
unpaid_vine_df = helpful_votes_df.query('vine == "N"')
unpaid_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [7]:
count_paid_revs = len(paid_vine_df)
count_paid_revs

107

In [12]:
five_star_df = paid_vine_df.query('star_rating == 5.0')
five_star_reviews_count = len(five_star_df)
five_star_reviews_count

56

In [14]:
percent_five_star_paid = five_star_reviews_count / count_paid_revs
percent_five_star_paid

0.5233644859813084

In [9]:
count_unpaid_revs = len(unpaid_vine_df)
count_unpaid_revs

39869

In [10]:
unpaid_five_star_df = unpaid_vine_df.query('star_rating == 5.0')
len(unpaid_five_star_df)

21005

In [43]:
percent_five_star_unpaid = (21005/39869)
percent_five_star_unpaid

0.5268504351751988